.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page input {
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
}

.login-page button {
    width: fit-content;
}