.players-display {
    display: flex;
}
.room-label {
    font-size: 20px;
    margin-right: 1em;
}

.other-players {
    display: flex;
    flex-direction: row;
}

.other-players-label {
    align-items: center;
    margin: 0.2em;
    display: flex;
}

.current-playing {
    color: #646cff;
}